<table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
  <tr>
    <td width="67%" valign="middle">
    {% if intro %}
    <p align="center">
      <name>{{ site.data.main.name }}</name>
    </p>
    {{ site.data.main.intro | markdownify }}
    {% endif %}
    <p><!-- align=center>-->
      <a href="mailto:{{ site.data.main.email }}">Email</a> &nbsp;/&nbsp;
      <a href="resume.pdf">Resume</a> &nbsp;/&nbsp;
      <!--<a href="bio.txt">Biography</a> &nbsp;/&nbsp;-->
      <!--<a href="thesis.pdf">Thesis</a> &nbsp;/&nbsp;-->
      <a href="{{ site.data.main.scholar }}">Google Scholar</a> &nbsp;/&nbsp;
      <a href="{{ site.data.main.linkedin }}"> LinkedIn </a>
    </p>
    </td>
    {% if intro %}
    <td width="33%">
       <img width="100%" src="{{ site.data.main.profile_pic }}">
    </td>
    {% endif %}
  </tr>
</table>
